
.existent-products {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}



.form-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px; 
}

.form-container input {
  font-size: 15px;
  width: 700px;
  height: 40px;
}

.cloth-card {
  background-color: #87CEFA; 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cloth-card h2 {
  border-radius: 2%;
  font-size: 18px;
  color: #377849;
  margin-bottom: 8px;
}

.cloth-card img {
  width: 200px;
  border-radius: 5%;
  height: 250px;
}

.cloth-card span {
 background-color: aquamarine;
 color: black;
}


.cloth-card p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 900px) {
  .form-container input {
    width: 280px;
    height: 25px;
   }

   h1 {
    font-size: 70%;
   }
}